# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
/src/main/resources/assets/spectrum/textures/blocks/*.pdn
/src/main/java/com/shadowhawk/spectrum/potion
